<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <!-- Search Engine -->
    <meta name="description"
          content="Watch how BERT (fine-tuned on QA tasks) transforms tokens to get to the right answers. This demo shows how the token representations change throughout the layers of BERT. We observed that the transformations mostly pass four phases related to traditional Question Answering pipelines.">
    <!-- Schema.org for Google -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta itemprop="name" content="How Does BERT Answer Questions?">
    <meta itemprop="description"
          content="Watch how BERT (fine-tuned on QA tasks) transforms tokens to get to the right answers. This demo shows how the token representations change throughout the layers of BERT. We observed that the transformations mostly pass four phases related to traditional Question Answering pipelines.">
    <meta name="author" content="Betty van Aken">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="How Does BERT Answer Questions?">
    <meta name="twitter:description"
          content="Watch how BERT (fine-tuned on QA tasks) transforms tokens to get to the right answers. This demo shows how the token representations change throughout the layers of BERT. We observed that the transformations mostly pass four phases related to traditional Question Answering pipelines.">
    <meta name="twitter:site" content="@betty_v_a">
    <meta name="twitter:creator" content="@betty_v_a">
    <meta name="twitter:image" content="https://apps.datexis.com/visbert/static/img/preview.png">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta property="og:title" content="How Does BERT Answer Questions?">
    <meta property="og:description"
          content="Watch how BERT (fine-tuned on QA tasks) transforms tokens to get to the right answers. This demo shows how the token representations change throughout the layers of BERT. We observed that the transformations mostly pass four phases related to traditional Question Answering pipelines.">
    <meta property="og:image" content="https://apps.datexis.com/visbert/static/img/preview.png">
    <meta property="og:url" content="https://apps.datexis.com/visbert">
    <meta property="og:site_name" content="How Does BERT Answer Questions?">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">

    <link rel="stylesheet" href="./static/libs/bootstrap.min.css">
    <link rel="stylesheet" href="./static/libs/font-awesome.min.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,500,700,900' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" href="./static/style.css">
    <link rel="stylesheet" href="./static/nohate-style.css">
    <link rel="shortcut icon" href="https://prof.beuth-hochschule.de/fileadmin/Resources/images/favicon.ico"
          type="image/x-icon">

    <title>How Does BERT Answer Questions?</title>

    <script type="text/javascript">
      var clicky_custom = clicky_custom || {};
      clicky_custom.cookies_disable = 1;
    </script>

    <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101207585);</script>
    <script async src="//static.getclicky.com/js"></script>

</head>

<body>
<h2 class="title"><img src="./static/img/bert.png" class="bert-image">How Does BERT Classify Hate Speech?</h2>

<div class="d-flex intro-text-container">
    <div class="flex-fill intro-text intro-text-left">
        <div class="intro-title">What is this about?</div>
        Watch how BERT (fine-tuned on QA tasks) transforms tokens to get to the right answers. This demo shows how the
        token
        representations change throughout the layers of BERT. We observed that the transformations mostly pass four
        phases related to traditional Question Answering pipelines.
    </div>
    <div class="flex-fill intro-text intro-text-right">
        <div class="intro-title">Read the publication</div>
        The tool demonstrates the findings from our
        paper:<br><span style="font-weight: 500;">Betty van
            Aken, Benjamin Winter, Alexander Löser and Felix Gers.
            <a href="https://arxiv.org/abs/1909.04925" target="_blank" onclick="clicky.log('#home','paper');">How Does BERT Answer Questions? A
                Layer-Wise
                Analysis of Transformer Representations.</a> CIKM 2019.</span>
    </div>
</div>

<div class="question-form-container">

            <div class="row">
            <label class="form-label form-label-inside" for="id-input" style="margin-bottom:-12pt;">Testset ID</label>
            </div>
            <div class="row">

            <span class=".no-wrap-text">
                <span id="id-switcher-left" class="id-switcher-label" onclick="switchIdLeft()"><</span>
                <input type="text" id="id-input" name="id-input" class="id-switcher-input">
                <span id="id-switcher-right" class="id-switcher-label" onclick="switchIdRight()">></span>
            </span>
            </div>
            <div class="row">
            <label class="control-label form-label" for="input-textarea" style="margin-top: 5pt;">User Comment</label>
            <textarea class="form-control form-textarea" id="input-textarea" name="input-textarea"
                      rows="4" placeholder="Enter example text"></textarea>
            </div>
            <div class="row">
                <div class="col" align="left">
                    <div class="control-label form-label form-label-inside">Predicted Answer</div>
                    <div id="predicted-answer" class="predicted-answer"></div>

                    <button class="form-button btn btn-info btn-block" onclick="requestPredictionAndVis(); clicky.log('#home','predict');">Predict & Visualize
                    <i class="fa fa-spinner fa-spin" id="button-spinner"></i>
                    </button>
                </div>
                <div class="col" align="left">
                    <div class="control-label form-label form-label-inside">Ground Truth</div>
                    <div id="ground-truth" class="predicted-answer"></div>
                </div>
            </div>
</div>

<div class="slider-container" align="left">
    <div class="d-flex">
        <div class="flex-fill layer-label" align="left">0</div>
        <div class="flex-fill layer-label-large" align="center" id="layer_nr_label">Layer 0</div>
        <div class="flex-fill layer-label" align="right" id="layer_max">12</div>
    </div>
    <!--<span class="form-label layer-label" id="layer_nr_label">Layer 0</span>-->
    <input type="range" id="layer-nr-slider" min="0" max="12" step="1" value="0"/><br>
</div>
<div id="phase-label" class="phases-label">Phase 1: Topical / Word Clusters</div>
</div>

<div class="canvas-container">
    <canvas id="plot_canvas"></canvas>
</div>
<div class="footnotes">
    <br>
    <br>
    <p><b>Contact: <a href="https://prof.beuth-hochschule.de/loeser/people/betty-van-aken/" target="_blank">Betty van Aken</a> (<a href="https://twitter.com/betty_v_a" target="_blank">@betty_v_a</a>) @ <a href="http://datexis.com" target="_blank">DATEXIS</a></b></p>

</div>


<!-- JQuery Import - Placed at the end of the document so the pages load faster -->
<script src="./static/libs/jquery-3.4.1.min.js"></script>
<script src="./static/libs/Chart.min.js"></script>
<script src="./static/libs/chartjs-plugin-datalabels@0.6.0"></script>
<script src="./static/libs/hammer.js"></script>
<script src="./static/libs/chartjs-plugin-zoom@0.7.3"></script>
<script src="./static/main.js"></script>
<script src="./static/nohate.js"></script>

</body>

</html>