<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="http://nitinhayaran.github.io/jRange/jquery.range.css">
    <link rel="stylesheet" href="../static/style.css">

    <title>How Does BERT Answer Questions?</title>

</head>

<body>
<div><h2 class="title">How Does BERT Answer Questions?</h2></div>
<p class="intro-text">Observe how BERT models fine-tuned on QA tasks get to the right answers. This demo shows how the token
    representations change throughout the layers of BERT. It demonstrates the findings from our paper: <i>Betty van Aken, Benjamin Winter, Alexander Löser and Felix Gers.
    <a href="https://openreview.net/pdf?id=SygMXE2vAE" target="_blank">How Does BERT Answer Questions? A Layer-Wise Analysis of Transformer Representations.</a> CIKM 2019.</i></p>

<div class="d-flex task-tab-wrapper">
  <div class="p-2 flex-fill task-tab-active">SQuAD</div>
  <div class="p-2 flex-fill task-tab">HotpotQA</div>
  <div class="p-2 flex-fill task-tab">bAbI QA</div>
</div>
<div class="question-form-container" align="center">
    <div class="row">
        <div class="col" align="left">

            <span class="id-switcher-label" onclick="switchIdLeft()"><</span>
            <input type="text" id="id-input" name="id-input" class="id-switcher-input">
            <span class="id-switcher-label" onclick="switchIdRight()">></span><br>

            <label class="control-label form-label" for="question-textarea">Question</label>
            <textarea class="form-control form-textarea" id="question-textarea" name="question-textarea"
                      rows="2"></textarea>
            <label class="control-label form-label" for="ground-truth-answer">Ground Truth Answer</label>
            <input type="text" class="form-control" id="ground-truth-answer" name="ground-truth-answer">
            <label class="control-label form-label" for="predicted-answer">Predicted Answer</label>
            <input type="text" class="form-control" id="predicted-answer" name="predicted-answer">

        </div>
        <div class="col">
            <label class="control-label form-label" for="context-textarea">Context</label>
            <textarea class="form-control form-textarea" id="context-textarea" name="context-textarea"
                      rows="7"></textarea>
            <button class="form-button btn btn-info btn-block" onclick="requestPredictionAndVis()">Predict & Visualize
            </button>
        </div>
    </div>
</div>
</div>

<div class="slider-container"><input type="range" id="layer_nr_slider" min=0 max=12 step=1 value=0/><span
        class="form-label layer-label" id="layer_nr_label">Layer 0</span>
</div>
</div>

<div class="canvas-container">
    <canvas id="plot_canvas"></canvas>
</div>


<!-- JQuery Import - Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.6.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/0.6.3/chartjs-plugin-zoom.js"></script>

<script>

    var color = Chart.helpers.color;
    var im = 0;

    var fontDefault = {
        size: 12,
        weight: 'normal'
    };
    var fontBold = {
        weight: 'bold'
    };
    var fontHighlighted = {
        size: 14,
        weight: 'bold'
    };

    var scatterChartData = {
        datasets: [{
            pointBackgroundColor: [],
            pointBorderColor: [],
            data: [],
            datalabels: {
                font: function (context) {
                    var ind = context.dataIndex;

                    // highlight when token belongs to answer or question
                    if ("token_indices" in tokenInfo) {
                        if (isIn(ind, [tokenInfo.token_indices.answer.start, tokenInfo.token_indices.answer.end])) {
                            return fontHighlighted;
                        }
                        if (isIn(ind, [tokenInfo.token_indices.question.start, tokenInfo.token_indices.question.end])) {
                            return fontBold;
                        }
                    }

                    return fontDefault;
                }
            }
        }]
    };

    var layer_nr = 0;
    var hiddenStates = [];
    var scatterPlot;
    var samples;
    var currentSampleIndex = 0;
    var tokenInfo = {};

    function isIn(ind, range) {
        return ind >= range[0] && ind < range[1]
    }

    function refreshData(newData, scatterPlot) {
        scatterChartData.datasets[0].data = newData;

        if (tokenInfo !== {}) {
            formatPoints();
        }
        im = im + 1;
        scatterPlot.update();
    }

    function insertSample(sample) {
        $('#id-input').val(sample.id);
        $('#question-textarea').val(sample.question);
        $('#ground-truth-answer').val(sample.answer);
        $('#predicted-answer').val("");
        $('#context-textarea').val(sample.context);
    }

    function parseText(component) {

        function trim(s) {
            return (s || '').replace(/^\s+|\s+$/g, '');
        }

        var text = component.val();
        text = encodeURIComponent(text);

        // Remove linebreaks from input
        text = text.replace(/\n/g, " ");

        // Remove quotes from input
        text = text.replace(/\"/g, "'");

        text = trim(text);

        return text;
    }

    function formatPoints() {

        for (let i = 0; i < scatterChartData.datasets[0].data.length; i++) {

            if (isIn(i, [tokenInfo.token_indices.question.start, tokenInfo.token_indices.question.end])) {

                scatterChartData.datasets[0].pointBackgroundColor[i] = color('blue').alpha(0.2).rgbString();
                scatterChartData.datasets[0].pointBorderColor[i] = 'blue';
            }
            else if (isIn(i, [tokenInfo.token_indices.answer.start, tokenInfo.token_indices.answer.end])) {

                scatterChartData.datasets[0].pointBackgroundColor[i] = color('purple').alpha(0.2).rgbString();
                scatterChartData.datasets[0].pointBorderColor[i] = 'purple';
            }
            else {
                scatterChartData.datasets[0].pointBackgroundColor[i] = color('red').alpha(0.2).rgbString();
                scatterChartData.datasets[0].pointBorderColor[i] = 'red';
            }
        }
    }


    function processResult(data) {
        var predictedAnswer = data.prediction.text;

        $('#predicted-answer').val(predictedAnswer);

        hiddenStates = data.hidden_states;
        tokenInfo["token_indices"] = data.token_indices;

        $("#layer_nr_slider").val(0);
        refreshLayerNr(0);

        refreshData(hiddenStates[0], scatterPlot);
    }

    function requestPredictionAndVis() {

        var sample = {};

        sample.id = parseText($('#id-input'));
        sample.question = parseText($('#question-textarea'));
        sample.context = parseText($('#context-textarea'));
        sample.answer = parseText($('#ground-truth-answer'));

        var data = {};
        data.sample = sample;

        $.ajax({
            url: '/visbert/predict',
            type: 'post',
            data: JSON.stringify(data),
            headers: {
                'Content-Type': 'application/json'
            },
            dataType: 'json',
            success: function (data) {
                processResult(data);
            }
        });
    }

    function loadSamples() {
        $.getJSON("../static/squad_examples.json", function (json) {
            samples = json;
            currentSampleIndex = Math.floor(Math.random() * samples.length);
            insertSample(samples[currentSampleIndex]);
        });
    }

    function switchIdLeft() {
        if (currentSampleIndex > 0) {
            currentSampleIndex = currentSampleIndex - 1;
            insertSample(samples[currentSampleIndex]);
        }
    }

    function switchIdRight() {
        if (currentSampleIndex < samples.length - 1) {
            currentSampleIndex = currentSampleIndex + 1;
            insertSample(samples[currentSampleIndex]);
        }
    }

    function refreshLayerNr(new_layer_nr) {
        layer_nr = new_layer_nr;

        $("#layer_nr_label").text("Layer " + layer_nr);
    }

    $(document).ready(function () {

        $("#layer_nr_slider").val(0);
        loadSamples();

        var ctx = $('#plot_canvas');
        scatterPlot = Chart.Scatter(ctx, {
            data: scatterChartData,
            options: {
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            return data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].label;
                        }
                    }
                },
                plugins: {
                    datalabels: {
                        anchor: 'end',
                        align: 'right',
                        color: 'grey',
                        offset: 8,
                        padding: 0,
                        clamp: true
                    },
                    legend: false,
                    title: false
                }
            }
        });

        $("#layer_nr_slider").on("input change", function () {
            var new_layer_nr = $(this).val();

            if (new_layer_nr !== layer_nr) {
                refreshLayerNr(new_layer_nr);

                if (hiddenStates.length > layer_nr) {
                    refreshData(hiddenStates[layer_nr], scatterPlot, null);
                }
            }
        });

    });
</script>
</body>

</html>