body {
    font-family: "Open Sans", sans-serif;
    /*font-family: "Roboto", sans-serif;*/
    margin-left: 80pt;
    margin-right: 60pt;
}

.title {
    text-align: left;
    padding-top: 20pt;
    padding-bottom: 15pt;
    color:#117281;
    font-weight: 700;
}

.bert-image {
    margin-right: 10pt;
    width: 20pt;
}

.intro-text-container {
    padding-bottom: 15pt;
}

.intro-text {
    color: #666;
    font-size: 9pt;
    font-weight: 300;
    width: 100%;
}

.intro-title {
    font-weight: 700;
    font-size: 11pt;
    color:#117281;
    margin-bottom: 5pt;
}

.footnote-id {
    font-weight: 300;
    font-size: 8pt;
    color: #117281;
}

.footnotes {
    width: 50%;
    font-size: 9pt;
    font-weight: 300;
}

input, textarea, select { font-family:inherit; font-weight: 400; }

.intro-text-left {
    margin-right:5pt;
}

.intro-text-right {
    margin-left:5pt;
}

.form-control-highlighted {
    border: 1px solid purple;
    color: purple;
    font-weight: bold;
}

.no-wrap-text {
    white-space:nowrap;
}

.phases-text {
    padding-bottom: 2pt;
}

.phases-text b {
    font-weight: 600;
}

.phases-label {
    color: #666;
    font-size: 9pt;
    margin-bottom: 20pt;
    font-weight: 400;
}

.own-example-input {
    margin-left: 10pt;
}

input[type=text] {
    height: 25px;
    font-size: 10pt;
    margin-bottom: 5pt;
}

.form-label {
    font-size: 9pt;
    font-weight: bold;
    margin: 0;
    float: left;
}

.form-label-inside {
    float: None;
}

.layer-label {
    font-size: 9pt;
    font-weight: bold;
    margin-top: 10pt;
}

.layer-label-large {
    font-size: 12pt;
    font-weight: bold;
}

.slider-container {
    width: 50%;
    padding-top: 20pt;
    padding-bottom: 5pt;
    text-align: left;
}

.task-tab-wrapper {
    background-color: #f4f7f8;
    text-align: center;
    font-size: 11pt;
}

.task-tab {
    border-top: None;
    border-left: None;
    border-right: None;
    font-weight: normal;
    border-bottom: solid #bbb 1px;
    cursor: pointer;
}

.task-tab-active {
    border-top: solid #bbb 1px;
    border-left: solid #bbb 1px;
    border-right: solid #bbb 1px;
    font-weight: bold;
    border-bottom: None;
}

.task-tab-deactived {
    color: #666;
    cursor: default;
}

.question-form-container {
    padding: 10pt  10pt 20pt 20pt;
    background-color: #f4f7f8;
    margin-bottom: 10pt;
    border-left: solid #ccc 1px;
    border-right: solid #ccc 1px;
    border-bottom: solid #ccc 1px;
    box-shadow: 8px 8px 10px #88888833;
}

.form-textarea {
    font-size: 10pt;
    margin-bottom: 5pt;
}

.form-button {
    margin-top: 10pt;
}

.canvas-container {
    margin-left: -5pt;
    margin-right: -5pt;
    margin-bottom: 50pt;
}

.id-switcher-input {
    margin-top: 11pt;
    width: 150pt;
    color: #495057;
    margin-left: -3pt;
    margin-right: -3pt;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    padding: .25rem .25rem;
}

.id-switcher-input:disabled, .id-switcher-input[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

.id-switcher-label {
    font-size: 10pt;
    font-weight: bold;
    margin-left: 2pt;
    margin-right: 2pt;
    cursor: pointer;
    color: #212529;
}

.id-switcher-label-inactive {
    color: #808080;
    cursor: default;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 4.3px 0;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #dcdcdc;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 17px;
    width: 17px;
    border-radius: 20px;
    background: #17a2b8;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #e9e9e9;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #dcdcdc;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 17px;
    width: 17px;
    border-radius: 20px;
    background: #17a2b8;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #cfcfcf;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: #dcdcdc;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 17px;
    width: 17px;
    border-radius: 20px;
    background: #17a2b8;
    cursor: pointer;
    height: 8.4px;
}

input[type=range]:focus::-ms-fill-lower {
    background: #dcdcdc;
}

input[type=range]:focus::-ms-fill-upper {
    background: #e9e9e9;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@media (max-width: 1015px) {
    .own-example-input {
        margin-left: 0;
        display: block;
    }
}

@media (max-width: 715px) {
    body {
        margin-left: 15pt;
        margin-right: 10pt;
    }
    .title {
        text-align: center;
    }
    .slider-container {
        text-align: center;
    }
    .phases-label {
        font-size: 8pt;
    }
    .own-example-input {
        margin-left: 0;
        display: block;
    }
    .footnotes {
        width: 100%;
    }
    .id-switcher-input {
        width: 60pt;
    }
    .id-switcher-label {
        font-size: 8pt;
    }
    input[type=text] {
        font-size: 8pt;
    }
    .form-textarea {
        font-size: 8pt;
    }
    .form-label {
        font-size: 8pt;
    }
    .slider-container {
        width: 100%;
    }
    .canvas-container {
        margin-left: 5pt;
        margin-right: 5pt;
    }
}